




#main{
color: blue;
padding:40px;


}

footer{
    height: 70px;
      background-color:#ebebeb;
    margin-bottom: 0px;
    text-align: center;
}

/* [class*="col-"] {
  width: 100%;
} */

@media only screen and (max-width: 640px) {
  
#navrightside{
  width: 100%;
  padding-right: 100px;}

  #navleftside{
    width: 100%;
padding-left: 140px;}
}

